<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hiDEsk</title>
    <link href="/styles/bootstrap.min.css" rel="stylesheet">
    <link href="/styles/jumbotron-narrow.css" rel="stylesheet">
    <link href="/styles/mySnsLoginBtnPadding.css" rel="stylesheet">
    <!-- <link href="../static/css/signup.css" rel="stylesheet">
    <script src="../static/js/jquery-1.12.0.js"></script>
    <script src="../static/js/signin.js"></script> -->
  </head>

  <body>

    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <!--<li role="presentation" ><a href="/">Home</a></li>-->
            <li role="presentation" class="active"><a href="#">Sign In</a></li>
            <li role="presentation" ><a href="/showSignUp">Sign Up</a></li>
          </ul>
        </nav>
        <h3 class="text-muted"><a href="/" style=" text-decoration:none">hiDEsk</a></h3>
      </div>

      <div class="jumbotron">
        <h1>Show your Desk!</h1>
        <form class="form-signin" action="/log/validate" method="post">
        <label for="inputEmail" class="sr-only">Nickname</label>
        <input type="text " name="inputEmail" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>
        <button id="btnSignIn" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>
        <div class ="col-lg-12">
          <h4> {{{result}}}</h4>
        </div>
      <div class ="col-lg-6" style = "float:left width:49">
        <h4 style="visibility : hidden" 여백의 미 </h4>
      </div>
      <div class="row">
      <div class="col-xs-6" id="leftButton">
        <form class="form-signin" action="/auth/facebook" method="GET">
          <button id="btnSignIn facebookSize" class="btn btn-lg btn-primary btn-block" type="submit" value="fb">by Facebook</button>
        </form>
      </div>
      <div class="col-xs-6" id="rightButton">
        <form class="form-signin" action="/auth/naver" method="GET">
          <button id="btnSignIn" class="btn btn-lg btn-primary btn-block" type="submit" value="fb">by Naver</button>
        </form>
      </div>
      </div>
      </div>

      <footer class="footer">
        <p>&copy; Kate 2016</p>
      </footer>

    </div>
  </body>
</html>
